@page "/nim"
@inject NavigationManager navigationManager
@inject GameState gameState
<h1>Nim game</h1>
<h2>Current player: @gameState.Game.CurrentPlayer.Name</h2>
@foreach (int row in gameState.Game.CurrentPlayground.Rows)
{
    <NIM.Server.Shared.NimRow Count="@row" />
}

<div class="row justify-content-end">
    <button class="btn btn-info" @onclick="@EndTurn">End turn</button>
</div>
@code {
    int currentCount = 0;
    protected override void OnInitialized()
    {
        gameState.Game.Step();
    }

    void IncrementCount()
    {
        currentCount++;
    }

    void EndTurn()
    {

    }
    void Take()
    {

    }
}
