@page "/nim"
@inject ViewModels.NimViewModel NimViewModel

<h1>Nim game</h1>
<h2>Current player: @NimViewModel.CurrentPlayer</h2>
    @foreach (int row in NimViewModel.Rows)
    {
        <NIM.Blazor.Components.NimRow Count="@row"/>
    }

<div class="row justify-content-end">
    <button class="btn btn-info" @onclick="@NextTurn">Next turn</button>
</div>
@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }

    void NextTurn()
    {
        NimViewModel.NextPlayer();
        this.StateHasChanged();
    }
    void Take()
    {

    }
}
