@page "/nim"
@inject ViewModels.NimViewModel NimViewModel

<h1>Nim game</h1>
    @foreach (int row in NimViewModel.Rows)
    {
        <NIM.Blazor.Components.NimRow Count="@row"/>
    }

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }

    void Take()
    {

    }
}
